@model List<Product>
 <partial name="_ThongBao" />


<div class="row mb-4">
	<div class="col-md-6">
		<h2>LIST PRODUCT</h2>
	</div>
	<div class="col-md-6 text-right">
		<a asp-action="Add" class="btn btn-primary">
			<i class="bi bi-plus-circle-fill"></i> Add New
		</a>
	</div>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
			<th>Image</th>
			<th>Action </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var x in Model)
		{
			<tr>
				<td>@x.Name</td>
				<td>@x.Price</td>
				<td>@x.Category.Name</td>
				<td>
					@if (x.ImageUrl != null)
					{
						<img src="@x.ImageUrl" style="width:100px" />
					}
				</td>
				<td>
					<a asp-action="Update" asp-route-id="@x.Id" class="btn btn-success">
						<i class="bi bi-pencil-square"></i> Edit
					</a>
					<a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger">
						<i class="bi bi-trash"></i> Delete
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="pagination" style="margin-top: 20px; text-align: center;">
	@if (ViewBag.CurrentPage > 1)
	{
		<a href="?page=1" style="margin: 0 5px; color: lightblue;">⏮</a>
	}

	@for (int i = 1; i <= ViewBag.TotalPages; i++)
	{
		if (i == ViewBag.CurrentPage)
		{
			<span style="margin: 0 5px; font-weight: bold; color: white;">@i</span>
		}
		else
		{
			<a href="?page=@i" style="margin: 0 5px; color: lightblue;">@i</a>
		}
	}

	@if (ViewBag.CurrentPage < ViewBag.TotalPages)
	{
		<a href="?page=@ViewBag.TotalPages" style="margin: 0 5px; color: lightblue;">⏭</a>
	}
</div>

@*form nhập số trang cần tìm*@
<div style="margin-top: 20px; text-align: center;">
	<label style="color:white">Đi đến trang:</label>
	<input type="number" id="gotoPage" min="1" max="@ViewBag.TotalPages" style="width: 100px;" placeholder="Số trang" />
</div>

<script>
	document.getElementById("gotoPage").addEventListener("keydown", function (e) {
		if (e.key === "Enter") {
			e.preventDefault();
			const page = parseInt(this.value);
			const total = @ViewBag.TotalPages;
			if (page >= 1 && page <= total) {
				window.location.href = "?page=" + page;
			} else {
				alert("Trang không hợp lệ!");
			}
		}
	});
</script>

